#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Name=ROSVITA
Comment=Starting ROSVITA..
Exec=/opt/rosvita/rosvita_start
Icon=/opt/rosvita/rosvita_icon.png
Terminal=false
Type=Application
Categories=Utility;Application;
